.favoritecard{
    background-color: darkcyan;
    border-style: dotted dashed solid double;
    border-width: 10px 60px 10px 60px;
    border-top-width: 30px;
    border-right-style: outset;
    border-left-style: outset;
    border-top-style: double;
    border-bottom-style: inset;
}



.body {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

[id='toggle-heart'] {
    position: absolute;
    left: -100vw;
}
checked + label {
     color: #e2264d;
     will-change: font-size;
     animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);}

:before, :after {
               animation: inherit;
               animation-timing-function: cubic-bezier(.21, .61, .35, 1);
           }

:before {
     will-change: transform, border-width, border-color;
     animation-name: bubble;
 }


[for='toggle-heart'] {
    align-self: center;
    position: relative;
    color: #aab8c2;
    font-size: 2em;
    cursor: pointer;
}

:before, :after {
               position: absolute;
               z-index: -1;
               top: 50%; left: 50%;
               border-radius: 50%;
               content: '';
           }

:before {
     box-sizing: border-box;
     transform: scale(0);
 }


