
.card mb-3 {
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
}

html {
    background-color: #15202B;
    background-color: #15202B;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.card-img-top{
    height: 200px;
    width: 220px;
}

.card-body{
    font-style: oblique;
    font-family: emoji;
    text-indent: 30px;
    line-height: 0.8;
}
.card-name{
    font-size: xx-large;
    font-style: italic;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    min-width: 160px;
    padding: 12px 16px;
    background-color: #30b99e;
    box-shadow: -1px -10px 16px 9px rgb(177 201 21 / 82%);
    z-index: 10;
    font-size: x-large;
    font-style: oblique;
    font-stretch: semi-condensed;
}


.dropdown:hover .dropdown-content {
    display: block;
}